<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/stylePlugin'); %>
    <title>Server Side Coding</title>
</head>

<body>
<header style="z-index: 3"><%- include('./partials/navBar'); %></header>
<main class="d-flex justify-content-center">
    <form action="/products/<%= product.id %>" method="post" id="add-profile-form" class="shadow-lg p-3 mb-5 bg-white rounded d-flex flex-column" enctype="multipart/form-data">
        <img src="../../uploads/<%= product.productPicName %>" width="150px" style="align-self: center;">
        <!-- Product title input -->
        <div class="form-floating mb-3">
            <input type="text" value="<%= product.title %>" name="title" class="form-control" placeholder="<%= product.title %>"/>
            <label class="form-label" for="inputTitle">Title:</label>
        </div>
        <div class="row mb-3">

            <!-- Price input -->
            <div class="col form-floating">
                <input type="number" name="price" value="<%= product.price %>" class="form-control" placeholder="<%= product.price %>"/>
                <label class="form-label" for="inputPrice" style="margin-left: 0.75rem">Price:</label>
            </div>
        </div>
        <!-- State input -->
        <div class="form-floating mb-3">
            <input type="text" name="state" class="form-control" value="<%= product.state %>" placeholder="<%= product.state %>"/>
            <label class="form-label" for="inputState">Condition:</label>
        </div>

        <!-- Description input -->
        <div class="form-floating mb-5">
            <input type="text" name="description" value="<%= product.description %>" class="form-control" placeholder="<%= product.description %>"/>
            <label class="form-label" for="inputDescription">Description:</label>
        </div>

        <!-- Image input -->
        <input type="hidden" name="productPicName" id="productPicName" value="<%= product.productPicName %>" accept="image/jpeg, image/png, image/jpg" class="form-control" />

        <!-- profile id input -->
        <input type="hidden" name="fk_profileid" value="<%= product.fk_profileid %>">

        <!-- isActive input -->
        <input type="hidden" name="isActive" placeholder="1" value="1">

        <!-- Submit button -->
        <div class="d-flex flex-row justify-content-end action-btns">
            <a class="btn btn-light btn-md" id="cancel" href="/products/<%= product.product_id %>">Cancel</a>
            <button type="submit" class="btn btn-success btn-md">Save</button>
        </div>

    </form>
</main>
</body>

</html>