<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/stylePlugin'); %>
    <title>Home</title>

    <style>
        aside > div > .card-body > p {
            font-size: 12px;
        }

        #banner {
            background: #0D6EFD;
            color: white;
        }

        #bannerButton1 {
            background: #ffffff;
        }

        #bannerButton1 > a {
            color: #0D6EFD;
        }

        #bannerButton2 {
            background: #0D6EFD;

        }

        #bannerButton2 > a {
            color: #ffffff;
        }
    </style>
</head>

<body>
<header><%- include('./partials/navBar'); %></header>
<div id="banner" style="width: 100%" class="pt-5">
    <div class="container py-5">
        <h1>
            Welcome to MarketHub
        </h1>
        <p>
            Buy and sell to your heart's content
        </p>
        <button id="bannerButton1" type="button" class="btn btn-outline-light">
            <a id="bannerLogin" href="<%= getProfileUrl() %>">Login</a>
        </button>
        <button id="bannerButton2" type="button"
                class="btn btn-light shadow-0 text-primary pt-2 border border-white">
            <a id="bannerFindProducts" href="/products" class="pt-1">Find Products</a>
        </button>
    </div>
</div>
<main style="margin-top: 10px; width: 98%">

    <h2 class="text-center">
        Our favourite items
    </h2>

    <!-- sidebar + content -->
    <div class="">
        <div class=" d-flex justify-content-evenly">
            <div class="row">
                <!-- Filter Sidebar -->

                <!-- Products -->
                <div style="width: 90%" class="container my-1">
                    <div class="row">
                        <% for(let i = 0; i < products.length; i++) { %>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 d-flex">
                                <a href="/products/<%= products[i].id %>">
                                    <div class="card w-100 my-2 shadow-2-strong">
                                        <img class="card-img-top" style="aspect-ratio: 1 / 1"
                                             alt="<%= products[i].title %>"
                                             src="../../uploads/<%= products[i].productPicName %>">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title"><%= products[i].title %></h5>
                                            <p class="card-text"><%= products[i].price %>€</p>
                                            <div class="card-footer d-flex justify-content-between justify-content-between align-items-end px-0 pb-0 mt-auto">
                                                <form action="/addToCart" method="post">
                                                    <input type="hidden" name="productId" value="<%= products[i].id %>">
                                                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                                                </form>

                                                <a class="btn btn-light border px-2 pt-2">
                                                    <i class="bi bi-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <% } %>
                    </div>
                </div>
                <!-- Products -->

            </div>
        </div>
    </div>

</main>
</body>

</html>
