<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/stylePlugin'); %>
    <title>Products</title>
    <style>
        main {
            width: 90%;
            margin-top: 100px;
        }

        .card-style1 {
            box-shadow: 0 0 10px 0 rgb(89 75 128 / 9%);
        }

        .border-0 {
            border: 0 !important;
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, .125);
            border-radius: 0.25rem;
        }

        section {
            padding: 25px 0;
            overflow: hidden;
            background: #fff;
        }

        .section-title {
            font-weight: 600;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 10px;
            position: relative;
            display: inline-block;
        }

        .text-primary {
            color: #ceaa4d !important;
        }

        .text-secondary {
            color: #15395A !important;
        }

        .font-weight-600 {
            font-weight: 500;
        }

        .display-26 {
            font-size: 1.2rem;
        }

        @media (max-width: 1199px) {
            h3 {
                font-size: 2rem;
            }
        }


        @media (min-width: 1200px) {
            h3 {
                font-size: 1.5rem;
            }
        }


        @media screen and (min-width: 992px) {
            .p-lg-7 {
                padding: 4rem;
            }
        }

        @media screen and (min-width: 768px) {
            .p-md-6 {
                padding: 3.5rem;
            }
        }

        @media screen and (min-width: 576px) {
            .p-sm-2-3 {
                padding: 2.3rem;
            }
        }

        .p-1-9 {
            padding: 1.9rem;
        }

        .bg-secondary {
            background: #15395A !important;
        }

        @media screen and (min-width: 576px) {
            .px-sm-6 {
                padding-right: 3.5rem;
            }
        }

        @media screen and (min-width: 576px) {
            .px-sm-6 {
                padding-left: 3.5rem;
            }
        }

        .px-1-9 {
            padding-right: 1rem;
        }

        .px-1-9 {
            padding-left: 1rem;
        }

        .py-1-9 {
            padding-bottom: 1rem;
        }

        .py-1-9 {
            padding-top: 1rem;
        }

        .mb-1-9 {
            margin-bottom: 1rem;
        }

        @media (min-width: 992px) {
            .d-lg-inline-block {
                display: inline-block !important;
            }
        }

        .rounded {
            border-radius: 0.25rem !important;
        }

        .responsive {
            width: 100%;
            height: auto;
        }

        .custom-button {
            display: inline-block;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            border: 1px solid transparent;
            border-radius: 0.25rem;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }

        .custom-button:hover {
            background-color: #0069d9;
        }

    </style>

</head>

<body>
<header><%- include('./partials/navBar'); %></header>
<main>

    <div class="d-flex justify-content-center">
        <div class="row justify-content-center">
            <div class="col-10 px-0">
                <div class="d-flex flex-row justify-content-evenly">
                    <!-- Product -->
                    <section class="py-3">
                        <div class="container hidden">
                            <div class="row gx-5">
                                <div class="mb-3 d-flex flex-row justify-content-between">
                                    <h4 class="title text-dark">
                                        <%= product.title %>
                                    </h4>
                                    <span class="h5"><%= product.price %>€</span>
                                </div>
                                <main class="col-lg-8">
                                    <div class="border rounded-4 mb-3 d-flex justify-content-center">
                                        <img style="max-width: 100%; max-height: 100vh; margin: auto;"
                                             class="rounded-4 fit"
                                             alt="<%= product.title %>"
                                             src="../../uploads/<%= product.productPicName %>"/>
                                    </div>
                                    <div class="ps-lg-3">

                                        <div class="d-flex flex-row my-3">
                                            <div class="text-warning mb-1 me-2">
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star-half-alt"></i>
                                                <span class="ms-1">
                4.5
              </span>
                                            </div>
                                            <span class="text-success ms-2">In stock</span>
                                        </div>

                                        <hr/>

                                        <div class="row mb-4 justify-content-between">
                                            <div class="d-flex flex-row col-lg-6 mb-3 align-items-center justify-content-start">
                                                <a aria-disabled="true" class="btn btn-warning custom-button disabled shadow-0">Buy now</a>
                                                <form action="/addToCart" method="post" class="ms-3">
                                                    <input type="hidden" name="productId" value="<%= product.id %>">
                                                    <button type="submit" class="btn btn-primary custom-button">Add to Cart</button>
                                                </form>
                                                <a aria-disabled="true" class="btn btn-light border disabled custom-button border-secondary py-2 icon-hover px-3 ms-3">
                                                    <i class="me-1 bi bi-heart fa-lg"></i> Save
                                                </a>
                                            </div>
                                        </div>

                                    </div>

                                </main>

                                <!-- Card -->
                                <div class="col-lg-4">
                                    <!-- Card -->
                                    <div class="card card-style1 border-0">
                                        <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                                            <div class="row align-items-center">
                                                <div class="d-flex justify-content-center col-xl-6 mb-4 mb-lg-0">
                                                    <img class="responsive"
                                                         src="../../uploads/<%= product.profilePicName %>"
                                                         alt="<%= product.name %>">
                                                </div>
                                                <div class="col-xl-6 px-xl-8">
                                                    <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 flex-wrap rounded">
                                                        <h3 class="text-white mb-0"><%= product.name %> </h3>
                                                    </div>
                                                    <ul class="list-unstyled mb-1-9">
                                                        <li class="mb-2 mb-xl-3"><span
                                                                    class="display-26 text-secondary me-2 font-weight-600">Email:</span>
                                                            <%= product.email %></li>
                                                        <li class="mb-2 mb-xl-3"><span
                                                                    class="display-26 text-secondary me-2 font-weight-600">Tel:</span>
                                                            +1 (555) 123-4567
                                                        </li>
                                                        <li class="mb-2 mb-xl-3"><span
                                                                    class="display-26 text-secondary me-2 font-weight-600">Address:</span>
                                                            123 Main Street, Anytown, USA
                                                        </li>
                                                    </ul>
                                                    <ul style="font-size: 20px"
                                                        class="social-icon-style1 list-unstyled mb-0 ps-0 d-flex flex-row justify-content-around">
                                                        <li><a><i class="bi-twitter"></i></a></li>
                                                        <li><a><i class="bi-facebook"></i></a></li>
                                                        <li><a><i class="bi-pinterest"></i></a></li>
                                                        <li><a><i class="bi-instagram"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="d-flex flex-row justify-content-around flex-wrap">
                                                    <button aria-disabled="true" class="btn disabled btn-primary mt-3">
                                                        Message Seller
                                                    </button>

                                                    <a href="/profiles/<%= product.fk_profileid %>">
                                                        <button class="btn btn-light border border-secondary icon-hover mt-3">
                                                            Go to profile
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-content" id="ex1-content">
                                    <h4>Description about the product</h4>
                                    <div class="tab-pane fade show active" id="ex1-pills-1" role="definition">
                                        <p><u>Condition:</u> <%= product.state %> </p>
                                        <p>
                                            <%= product.description %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!-- Favourites Sidebar -->
            <!-- TODO for i in range (like in users) for the favourite product cards -->
        </div>
    </div>

</main>
</body>

</html>